{% load static %}
{% load mytags %}
<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      
      <meta name="description" content="">
      <title>Document</title>
      <link rel="stylesheet" href="{% static 'style/nicepage.css' %}" media="screen">
      <link rel="stylesheet" href="{% static 'style/stage0.css' %}" media="screen">
      <script class="u-script" type="text/javascript" src="{% static 'js/jquery-1.9.1.min.js' %}" defer=""></script>
      <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
      <style>
         /* Import Font Dancing Script */
         @import url(https://fonts.googleapis.com/css?family=Dancing+Script);
         * {
         margin: 0;
         }
         body {
         background-color: #e8f5ff;
         font-family: Arial;
         overflow: hidden;
         }
         /* NavbarTop */
         .navbar-top {
         background-color: #fff;
         color: #333;
         box-shadow: 0px 4px 8px 0px grey;
         height: 70px;
         }
         .title {
         font-family: 'Dancing Script', cursive;
         padding-top: 15px;
         position: absolute;
         left: 45%;
         }
         .navbar-top ul {
         float: right;
         list-style-type: none;
         margin: 0;
         overflow: hidden;
         padding: 18px 50px 0 40px;
         }
         .navbar-top ul li {
         float: left;
         }
         .navbar-top ul li a {
         color: #333;
         padding: 14px 16px;
         text-align: center;
         text-decoration: none;
         }
         .icon-count {
         background-color: #ff0000;
         color: #fff;
         float: right;
         font-size: 11px;
         left: -25px;
         padding: 2px;
         position: relative;
         }
         /* End */
         /* Sidenav */
         .sidenav {
         background-color: #fff;
         color: #333;
         border-bottom-right-radius: 25px;
         height: 86%;
         left: 0;
         overflow-x: hidden;
         padding-top: 20px;
         position: absolute;
         top: 70px;
         width: 250px;
         }
         .profile {
         margin-bottom: 20px;
         margin-top: -12px;
         text-align: center;
         }
         .profile img {
         border-radius: 50%;
         box-shadow: 0px 0px 5px 1px grey;
         }
         .name {
         font-size: 20px;
         font-weight: bold;
         padding-top: 20px;
         }
         .job {
         font-size: 16px;
         font-weight: bold;
         padding-top: 10px;
         }
         .url, hr {
         text-align: center;
         }
         .url hr {
         margin-left: 20%;
         width: 60%;
         }
         .url a {
         color: #818181;
         display: block;
         font-size: 20px;
         margin: 10px 0;
         padding: 6px 8px;
         text-decoration: none;
         }
         .url a:hover, .url .active {
         background-color: #e8f5ff;
         border-radius: 28px;
         color: #000;
         margin-left: 14%;
         width: 65%;
         }
         /* End */
         /* Main */
         .main {
         margin-top: 2%;
         margin-left: 29%;
         font-size: 28px;
         padding: 0 10px;
         width: 58%;
         }
         .main h2 {
         color: #333;
         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         font-size: 24px;
         margin-bottom: 10px;
         }
         .main .card {
         background-color: #fff;
         border-radius: 18px;
         box-shadow: 1px 1px 8px 0 grey;
         height: auto;
         margin-bottom: 20px;
         padding: 20px 0 20px 50px;
         }
         .main .card table {
         border: none;
         font-size: 16px;
         height: 270px;
         width: 80%;
         }
         .edit {
         position: absolute;
         color: #e7e7e8;
         right: 14%;
         }
         .social-media {
         text-align: center;
         width: 90%;
         }
         .social-media span {
         margin: 0 10px;
         }
         .fa-facebook:hover {
         color: #4267b3 !important;
         }
         .fa-twitter:hover {
         color: #1da1f2 !important;
         }
         .fa-instagram:hover {
         color: #ce2b94 !important;
         }
         .fa-invision:hover {
         color: #f83263 !important;
         }
         .fa-github:hover {
         color: #161414 !important;
         }
         .fa-whatsapp:hover {
         color: #25d366 !important;
         }
         .fa-snapchat:hover {
         color: #fffb01 !important;
         }
         /* End */
      </style>
      <script type="text/javascript">
         function printSection(){
           
             var printDiv = document.getElementById("main");
             var printWindow = window.open('', '', 'left=0, top=0, width=800, height=500, toolbar=0, scrollbars=0, status=0');
             printWindow.document.write(printDiv.innerHTML);
             printWindow.document.close();
             printWindow.focus();
             printWindow.print();
            
         }
         function addHead() {
           var inputsContainer = document.getElementById("inputs-container");
           var inputNumber = inputsContainer.getElementsByTagName("input");
           var newInput = document.createElement("input");
           newInput.setAttribute("type", "text");
           newInput.setAttribute("name","Head");
           
           
         
           inputsContainer.appendChild(newInput);
           inputsContainer.style.display = "block";
         }
         function addPres() {
           var inputsContainer = document.getElementById("inputs-containers");
           var inputNumber = inputsContainer.getElementsByTagName("input");
           var newInput = document.createElement("input");
           newInput.setAttribute("type", "text");
           newInput.setAttribute("name", "Prescription");
           
           
         
           inputsContainer.appendChild(newInput);
         
         }
         
         
      </script>
      <script type="application/ld+json">{
         "@context": "http://schema.org",
         "@type": "Organization",
         "name": "psychostressandanxeity",
         "logo": "{% static 'images/a5d9783994f73a3bb481d66c4b514487008fc5cddd16cefa985b49f20ed59b071e6be134910bd37996549ec2e62565a8f865dcf59ca91df015bfe2_1280.png' %}"
         }
      </script>
      <meta name="theme-color" content="#9d9cf7">
      <meta property="og:title" content="stage1">
      <meta property="og:description" content="">
      <meta property="og:type" content="website">
      <meta data-intl-tel-input-cdn-path="intlTelInput/">
   </head>
   <body class="u-body u-xl-mode" data-lang="en">
      <header class="u-align-center-xs u-border-1 u-border-grey-25 u-clearfix u-header" id="sec-5bd4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
         <div class="u-clearfix u-sheet u-sheet-1">
            <nav class="u-align-left u-menu u-menu-hamburger u-nav-spacing-25 u-offcanvas u-menu-1" data-responsive-from="XL">
               <div class="menu-collapse">
                  <a class="u-button-style u-nav-link" href="#" style="padding: 4px 0px; font-size: calc(1em + 8px);">
                     <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style="">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-7b92"></use>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-7b92" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content">
                        <g>
                           <rect y="36" width="302" height="30"></rect>
                           <rect y="236" width="302" height="30"></rect>
                           <rect y="136" width="302" height="30"></rect>
                        </g>
                        
                     </svg>
                  </a>
               </div>
               <div class="u-custom-menu u-nav-container">
                  <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
                     <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="#" style="padding: 10px;">Menu</a></li>
                     <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/" target="_blank" style="padding: 10px;">Home</a></li>
                     <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/login" target="_blank" style="padding: 10px;">Login</a></li>
                     <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base" href="/register" target="_blank" style="padding: 10px;">Register</a></li>
                  </ul>
               </div>
               <div class="u-custom-menu u-nav-container-collapse">
                  <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                     <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                           <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Menu</a></li>
                           <li class="u-nav-item"><a class="u-button-style u-nav-link" href="counsellor/" target="_blank">Home</a></li>
                           <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login" target="_blank">Login</a></li>
                           <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/register" target="_blank">Register</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
               </div>
            </nav>
            <p class="u-text u-text-palette-5-base u-text-1">Stress and Anxiety Detection </p>
            <div class="u-list u-list-1">
               <div class="u-repeater u-repeater-1">
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <a href="doctor/" class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-1" title="home"><span class="u-file-icon u-icon u-icon-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/3293413.png'%}" alt=""></span>&nbsp;Home
                        </a>
                     </div>
                  </div>
                  {%if user.is_authenticated%}
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <a href="doctor_profile/"  title="profile">
                           &nbsp;
                           <p  title="name">{{user.email}}</p>
                        </a>
                     </div>
                  </div>
                  {%else%}
                  <div class="u-container-style u-list-item u-repeater-item" >
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <a href="/register" class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-2" title="register"><span class="u-file-icon u-icon u-icon-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/2921144.png' %}" alt=""></span>&nbsp;REGISTER
                        </a>
                     </div>
                  </div>
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <a href="/login" class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-3" title="login"><span class="u-file-icon u-icon u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/8875055.png' %}" alt=""></span>&nbsp;LOGIN
                        </a>
                     </div>
                  </div>
                  {%endif%}
               </div>
            </div>
            {%if user.is_authenticated%}
            <a href="/out" class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-white u-btn-4" title="logout"><span class="u-file-icon u-icon u-icon-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/4210146.png' %}" alt=""></span>&nbsp;LOGOUT
            </a>
            {%endif%}
            <a href="/out" class="u-image u-logo u-image-1" data-image-width="1280" data-image-height="853">
            <img src="{% static 'images/a5d9783994f73a3bb481d66c4b514487008fc5cddd16cefa985b49f20ed59b071e6be134910bd37996549ec2e62565a8f865dcf59ca91df015bfe2_1280.png'%}" class="u-logo-image u-logo-image-1">
            </a>
            <a href="/contact" class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-white u-btn-5" title="logout"><span class="u-file-icon u-icon u-icon-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/9458899.png' %}" alt=""></span>&nbsp;CONTACT
            </a>
         </div>
      </header>
      <section >
         <button onclick="printSection()"
            style="background-color:#F43A63;color:white;border:0;hover:pointer">Download Report</button> 
         <br><br>
         <div class="main" id="main">
            <h2 style="color:#F43A63">REPORT</h2>
            <div class="card">
               <div class="card-body">
                  <!--<i class="fa fa-pen fa-xs edit"></i>-->
                  <table>
                     <tbody>
                        <tr>
                           <td style="color:purple">
                              <h3>PERSONAL DETAILS</h3>
                           </td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Email</td>
                           <td>:</td>
                           <td>{{prof.email}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Name</td>
                           <td>:</td>
                           <td>{{name}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Age</td>
                           <td>:</td>
                           <td>{{prof.age}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Door Number</td>
                           <td>:</td>
                           <td>{{prof.door}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Area Name</td>
                           <td>:</td>
                           <td>{{prof.street}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">City</td>
                           <td>:</td>
                           <td>{{prof.city}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">State</td>
                           <td>:</td>
                           <td>{{prof.state}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Date of Birth</td>
                           <td>:</td>
                           <td>{{prof.date}}</td>
                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600">Phone</td>
                           <td>:</td>
                           <td>{{phone}}</td>
                        </tr>
                        
                        <tr>
                           <td style="color:purple">
                              <h3>RESPONSES</h3>
                           </td>
                           <br>
                        </tr>
                        
                        <tr>
                           <td style="color:#F43A63;font-weight:600"><h4><b>Stage 0</b></h4></td>
                           <td>:</td>
                        <tr>
                           <td ><b><span style="color:purple">Question 1:</b></span> Greetings</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Greetings}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 2:</b></span> How are you doing?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Wellbeing}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 3:</b></span> Tell me about yourself?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.About}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 4:</b></span> Say me your strengths?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Strengths}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 5:</b></span> What brings you here?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Reason}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 6:</b></span> Have you been to therapy before? If so, what was your impression of it?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Therapy}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 7:</b></span> If you had a magical wish, what would you wish for?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Magical_Wish}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 8:</b></span> What is your favorite food for breakfast?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Favourite_Food}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 9:</b></span> What makes someone a friend to you?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Friend_Characteristics}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 10:</b></span> Why and When were you last angry?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Last_Angry}}</td>
                        </tr>
                        <tr>
                           <td ><b><span style="color:purple">Question 11:</b></span> What do you not like to do at home?</td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{zero.Not_like_to_do_at_home}}</td>
                        </tr>
                        </tr>
                        
                        <tr>
                            <td style="color:#F43A63;font-weight:600"><h4><b>Stage 1</b></h4></td>
                           <td>:</td>
                           <tr>
                              <td ><b><span style="color:purple">Question 1:</b></span> Greetings</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.greetings}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 2:</b></span> Readiness</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.readiness}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 3:</b></span> Do you sometimes have trouble falling asleep? Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques1}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 4:</b></span> Do you worry about the future?.Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques2}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 5:</b></span>Do you often reach for a cigarette, a drink, or a tranquilizer in order to reduce tension? .Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques3}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 6:</b></span>Do you become irritated over basically insignificant matters ?.Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques4}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 7:</b></span>Do you have less energy than you seem to need or would like to have?.Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques5}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 8:</b></span>Do you have too many things to do and not enough time to do them? .Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques6}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 9:</b></span>Do you have headaches or stomach problems?.Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques7}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 10:</b></span>Do you feel pressure to accomplish or to get things done?.Say yes or no</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques8}}</td>
                           </tr>
                           


                           
                           
                            
                           <tr>
                              <td ><b><span style="color:purple">Question 11:</b></span>Do you find it hard to stop worrying?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques9}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 12:</b></span>Do you experience feelings of restlessness?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques10}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 13:</b></span>Do you have feelings of tiredness easily?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques11}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 14:</b></span>Do you have difficulty concentrating?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques12}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 15:</b></span>Do you feel irritable?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques13}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 16:</b></span>Do you experience muscle pain?</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.ques14}}</td>
                           </tr>
                           
                           
                           <tr>
                              <td ><b><span style="color:purple">Question 17:</b></span>Stress score:</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.stress}}</td>
                           </tr>
                           <tr>
                              <td ><b><span style="color:purple">Question 18:</b></span>Anxiety score:</td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{one.anxiety}}</td>
                           </tr>
                                             
                        

                        </tr>
                        <tr>
                           <td style="color:#F43A63;font-weight:600"><h4><b>Stage 2</b></h4></td>
                          
                           {%for r in resu2%} 
                           
                           {%with category=r.ques_category%}
                          {%with json=questionjson2|keyvalue:category%} 
                           
                           
                           {% with nested_attribute=r.ques_id %}
                           {%with quesjson=json|keyvalue:nested_attribute%} 
                             
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Question:</b></span>{{quesjson.question_display}}
                              </td>
                           </tr>
                           <tr>
                              <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{quesjson.answer_choices|keyvalue:r.ans_id}}</td>
                           </tr>
                            {%endwith%}
                           {%endwith%}
                           {% endwith %}
                           {% endwith %}
                           {%endfor%} 
                          
                           
                        <tr>
                           <td>{{out.stage3}}</td>
                        </tr>
                        
                        </tr>
                        <tr>
                         <td style="color:#F43A63;font-weight:600"><h4><b>Stage 3</b></h4></td>
                          
                        {%for r in resu3%} 
                        {%with category=r.ques_category%}
                        {%with json=questionjson3|keyvalue:category%}
                        {% with nested_attribute=r.ques_id %}
                        {%with quesjson=json|keyvalue:nested_attribute%}
                          
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Question:</b></span>{{quesjson.question_display}}
                           </td>
                        </tr>
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Response:</b></span> {{quesjson.answer_choices|keyvalue:r.ans_id}}</td>
                        </tr>
                        {%endwith%}
                        {%endwith%}
                        {% endwith %}
                        {% endwith %}
                        {%endfor%}
                        
                        <tr>
                           <td style="text-align: center;"><b><span style="color:purple">Risk level:</span></b>{{out.risk}}</td>
                        </tr>
                        
                        </tr>
                        <tr>
                           <td style="color:purple">
                              <h3>PRESCRIPTION</h3>
                           </td>
                        </tr>
                        
                        {%for i in treats%}
                        {% if i.session is not empty %}
                        
                        <tr>
                           <td style="text-align: center;"><span style="color:#F43A63;font-weight:600">Session:</span> {{i.session}}</td>
                        <tr>
                           {%endif%}
                           {% if i.treat is not none %}
                           <td style="text-align: center;"><span style="color:#F43A63;font-weight:600">Prescription:</span> {{i.treat}}</td>
                        </tr>
                        {%endif%}
                        </tr>
                        {%endfor%}
                        <tr>
                        <tr>
                           <td>
                              
                              <form method="post" action="{%url 'addcolumn' obj=i%}">
                                 {%csrf_token%}
                                 <div id="inputs-container">
                                 </div>
                                 <button type="button" onclick="addHead()">Session Number</button>
                                 <div id="inputs-containers">
                                 </div>
                                 <button type="button" onclick="addPres()">Add Prescription</button> 
                                 <button
                                    class="u-btn u-btn-round u-button-style u-palette-2-base u-radius-5 u-block-ef42-53"
                                    >
                                 Confirm
                                 </button>
                              </form>
                              
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         </div>
         </div>
      </section>
      <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-96a5">
         <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-small-text u-text u-text-variant u-text-1">Thank you for visiting...!!!</p>
            <div class="u-list u-list-1">
               <div class="u-repeater u-repeater-1">
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <a href="counsellor/" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-1" rel="nofollow">Home</a>
                     </div>
                  </div>
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <a href="/register" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-2" rel="nofollow">Register</a>
                     </div>
                  </div>
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <a href="/login" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-3" rel="nofollow">Login<span class="u-text-body-alt-color"></span>
                        </a>
                     </div>
                  </div>
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <a href="/contact" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-4" rel="nofollow">Contact</a>
                     </div>
                  </div>
                  <div class="u-container-style u-list-item u-repeater-item">
                     <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                        <a href="/out" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-5" rel="nofollow">Logout</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>