{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Hello! I am Jullie" />
    <meta name="description" content="" />
    <title>stage0</title>
    <link
      rel="stylesheet"
      href="{% static 'style/nicepage.css' %}"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="{% static 'style/stage0.css' %}"
      media="screen"
    />
    <script
      class="u-script"
      type="text/javascript"
      src="{% static 'js/jquery-1.9.1.min.js' %}"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="{% static 'js/nicepage.js' %}"
      defer=""
    ></script>

    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i"
    />
    <script
      class="u-script"
      type="module"
      src="{% static 'js/assistant.js' %}"
      defer=""
    >



          <script type="application/ld+json">{
      		"@context": "http://schema.org",
      		"@type": "Organization",
      		"name": "psychostressandanxeity",
      		"logo": "{% static 'images/a5d9783994f73a3bb481d66c4b514487008fc5cddd16cefa985b49f20ed59b071e6be134910bd37996549ec2e62565a8f865dcf59ca91df015bfe2_1280.png' %}"
      }
    </script>
    {% if blur %}
    <style>
      body {
        filter: blur(5px);
        -webkit-filter: blur(5px); /* for Safari and Chrome */
      }
    </style>
    {% endif %}
    <meta name="theme-color" content="#9d9cf7" />
    <meta property="og:title" content="stage1" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta data-intl-tel-input-cdn-path="intlTelInput/" />
  </head>
  <body class="u-body u-xl-mode" data-lang="en">
    <header
      class="u-align-center-xs u-border-1 u-border-grey-25 u-clearfix u-header"
      id="sec-5bd4"
      data-animation-name=""
      data-animation-duration="0"
      data-animation-delay="0"
      data-animation-direction=""
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav
          class="u-align-left u-menu u-menu-hamburger u-nav-spacing-25 u-offcanvas u-menu-1"
          data-responsive-from="XL"
        >
          <div class="menu-collapse">
            <a
              class="u-button-style u-nav-link"
              href="#"
              style="padding: 4px 0px; font-size: calc(1em + 8px)"
            >
              <svg
                class="u-svg-link"
                preserveAspectRatio="xMidYMin slice"
                viewBox="0 0 302 302"
                style=""
              >
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#svg-7b92"
                ></use>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="svg-7b92"
                x="0px"
                y="0px"
                viewBox="0 0 302 302"
                style="enable-background: new 0 0 302 302"
                xml:space="preserve"
                class="u-svg-content"
              >
                <g>
                  <rect y="36" width="302" height="30"></rect>
                  <rect y="236" width="302" height="30"></rect>
                  <rect y="136" width="302" height="30"></rect>
                </g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
                <g></g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                  href="#"
                  style="padding: 10px"
                  >Menu</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                  href="/"
                  target="_blank"
                  style="padding: 10px"
                  >Home</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                  href="/login"
                  target="_blank"
                  style="padding: 10px"
                  >Login</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="u-button-style u-nav-link u-text-active-palette-1-base u-text-grey-90 u-text-hover-palette-2-base"
                  href="/register"
                  target="_blank"
                  style="padding: 10px"
                  >Register</a
                >
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav"
            >
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"
                >
                  <li class="u-nav-item">
                    <a class="u-button-style u-nav-link" href="#">Menu</a>
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/"
                      target="_blank"
                      >Home</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/login"
                      target="_blank"
                      >Login</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/register"
                      target="_blank"
                      >Register</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-text u-text-palette-5-base u-text-1">
          Stress and Anxiety Detection
        </p>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <a
                  href="/"
                  class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-1"
                  title="home"
                  ><span
                    class="u-file-icon u-icon u-icon-1"
                    data-animation-name=""
                    data-animation-duration="0"
                    data-animation-delay="0"
                    data-animation-direction=""
                    ><img src="{% static 'images/3293413.png'%}" alt="" /></span
                  >&nbsp;Home
                </a>
              </div>
            </div>
            {%if user.is_authenticated%}
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-2"
              >
                <a href="/personal" title="profile"
                  >&nbsp;
                  <p title="name">{{user.email}}</p>
                </a>
              </div>
            </div>

            {%else%}
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-2"
              >
                <a
                  href="/register"
                  class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-2"
                  title="register"
                  ><span
                    class="u-file-icon u-icon u-icon-2"
                    data-animation-name=""
                    data-animation-duration="0"
                    data-animation-delay="0"
                    data-animation-direction=""
                    ><img
                      src="{% static 'images/2921144.png' %}"
                      alt="" /></span
                  >&nbsp;REGISTER
                </a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-3"
              >
                <a
                  href="/login"
                  class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-body-alt-color u-btn-3"
                  title="login"
                  ><span
                    class="u-file-icon u-icon u-icon-3"
                    data-animation-name=""
                    data-animation-duration="0"
                    data-animation-delay="0"
                    data-animation-direction=""
                    ><img
                      src="{% static 'images/8875055.png' %}"
                      alt="" /></span
                  >&nbsp;LOGIN
                </a>
              </div>
            </div>
            {%endif%}
          </div>
        </div>
        {%if user.is_authenticated%}
        <a
          href="/out"
          class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-white u-btn-4"
          title="logout"
          ><span
            class="u-file-icon u-icon u-icon-4"
            data-animation-name=""
            data-animation-duration="0"
            data-animation-delay="0"
            data-animation-direction=""
            ><img src="{% static 'images/4210146.png' %}" alt="" /></span
          >&nbsp;LOGOUT
        </a>
        {%endif%}
        <a
          href="/out"
          class="u-image u-logo u-image-1"
          data-image-width="1280"
          data-image-height="853"
        >
          <img
            src="{% static 'images/a5d9783994f73a3bb481d66c4b514487008fc5cddd16cefa985b49f20ed59b071e6be134910bd37996549ec2e62565a8f865dcf59ca91df015bfe2_1280.png'%}"
            class="u-logo-image u-logo-image-1"
          />
        </a>
        <a
          href="/contact"
          class="u-btn u-btn-round u-button-style u-custom-item u-hover-palette-5-light-1 u-palette-5-light-2 u-radius-4 u-text-white u-btn-5"
          title="logout"
          ><span
            class="u-file-icon u-icon u-icon-5"
            data-animation-name=""
            data-animation-duration="0"
            data-animation-delay="0"
            data-animation-direction=""
            ><img src="{% static 'images/9458899.png' %}" alt="" /></span
          >&nbsp;CONTACT
        </a>
      </div>
    </header>

    <section
      class="u-align-center u-clearfix u-image u-section-2"
      id="carousel_4a65"
      data-image-width="1980"
      data-image-height="1700"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href="#popup1"
          class="u-border-2 u-border-palette-1-light-3 u-btn u-button-style u-dialog-link u-hover-palette-5-light-2 u-palette-5-base u-text-body-alt-color u-text-hover-white u-btn-1"
          >Click here!! for Rules</a
        >

        <div
          class="u-border-9 u-border-palette-3-base u-image u-image-circle u-image-contain u-image-1"
          alt=""
          data-image-width="902"
          data-image-height="902"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="250"
        ></div>
        <label for="language-select">Choose a language:</label>
        <select id="language-select">
          <option value="en-US">English (United States)</option>
          <option value="es-ES">Spanish (Spain)</option>
          <option value="fr-FR">French (France)</option>
          <option value="ta-IN">Tamil</option>
        </select>
        <h2
          class="u-align-center u-text u-text-1"
          data-animation-name="customAnimationIn"
          data-animation-duration="1500"
          data-animation-delay="500"
        >
          Hello! I am Aadarsh
        </h2>
        <div class="u-clearfix u-custom-html u-custom-html-1">
          <style>
            audio {
              height: 100px;
            }
            .u-section-2 {
              background-image: url("{%static 'images/bnnby.png' %}");
              background-position: 25.65% 100%;
              background-size: auto 115%;
            }
            .u-section-2 .u-image-1 {
              width: 326px;
              height: 326px;
              --animation-custom_in-translate_x: 0px;
              --animation-custom_in-translate_y: 0px;
              --animation-custom_in-opacity: 0;
              --animation-custom_in-rotate: 0deg;
              --animation-custom_in-scale: 0.3;
              background-image: url("{%static 'images/bg2.jpg'%}");
              background-position: 50% 50%;
              margin: 147px auto 0;
            }
          </style>
          <div id="top-container">
            <button id="start-btn" class="simple-btn">Speak!</button>
            <button id="next" class="simple-btn" style="visibility=hidden;">
              <a href="/stage1">Next></a>
            </button>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="u-align-center u-clearfix u-footer u-grey-80 u-footer"
      id="sec-96a5"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
          Thank you for visiting...!!!
        </p>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-1"
              >
                <a
                  href="/"
                  class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-1"
                  rel="nofollow"
                  >Home</a
                >
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-2"
              >
                <a
                  href="/register"
                  class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-2"
                  rel="nofollow"
                  >Register</a
                >
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-3"
              >
                <a
                  href="/login"
                  class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-3"
                  rel="nofollow"
                  >Login<span class="u-text-body-alt-color"></span>
                </a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-4"
              >
                <a
                  href="/contact"
                  class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-4"
                  rel="nofollow"
                  >Contact</a
                >
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div
                class="u-container-layout u-similar-container u-valign-top u-container-layout-5"
              >
                <a
                  href="/out"
                  class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-custom-item u-hover-none u-none u-text-body-alt-color u-btn-5"
                  rel="nofollow"
                  >Logout</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <section
      class="u-align-center u-black u-clearfix u-container-style u-dialog-block u-opacity u-opacity-70 u-valign-middle u-dialog-section-5"
      id="popup1"
      data-dialog-show-on="click"
      data-dialog-show-interval="1000"
      data-dialog-show-on-list="3993717"
    >
      <div
        class="u-container-style u-dialog u-gradient u-radius-9 u-shape-round u-dialog-1"
      >
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-align-center u-text u-text-default u-text-1">
            Welcome!
          </h2>
          <p class="u-align-center u-text u-text-default u-text-2">
            Have fun talking with Aadharsh<br />Rules:<br />1.Start with a Hi
            and listen to what Aadarsh asks.<br />2.Must be alone in a q​uiet,
            well-lit room.<br />3.No copying or memorizing responses from other
            sources.<br />4.No communication with anyone else.<br />5.Do not use
            any predictive input method or grammar/spelling checkers.<br />6.Click
            the button 'Speak' and then start speaking for 60 seconds!<br />
            <br />
          </p>
          <a
            href=""
            class="u-active-palette-5-light-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-light-2 u-palette-5-base u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-1"
            >Get Started</a
          >
        </div>
        <button class="u-dialog-close-button u-icon u-text-grey-50 u-icon-1">
          <svg
            class="u-svg-link"
            preserveAspectRatio="xMidYMin slice"
            viewBox="0 0 413.348 413.348"
            style=""
          >
            <use xlink:href="#svg-5801"></use></svg
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            xml:space="preserve"
            class="u-svg-content"
            viewBox="0 0 413.348 413.348"
            id="svg-5801"
          >
            <path
              d="m413.348 24.354-24.354-24.354-182.32 182.32-182.32-182.32-24.354 24.354 182.32 182.32-182.32 182.32 24.354 24.354 182.32-182.32 182.32 182.32 24.354-24.354-182.32-182.32z"
            ></path>
          </svg>
        </button>
      </div>
    </section>
    <style>
      .u-dialog-section-5 .u-dialog-1 {
        width: 566px;
        min-height: 367px;
        height: auto;
        box-shadow: -2px -2px 8px 0px rgba(128, 128, 128, 1);
        background-image: linear-gradient(white, #feebef);
        margin: 60px auto;
      }

      .u-dialog-section-5 .u-container-layout-1 {
        padding: 40px 30px;
      }

      .u-dialog-section-5 .u-text-1 {
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        margin: 0 auto;
      }

      .u-dialog-section-5 .u-text-2 {
        font-size: 1rem;
        margin: 20px 0 0;
      }

      .u-dialog-section-5 .u-btn-1 {
        border-style: none;
        font-size: 1rem;
        background-image: none;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 20px auto 0;
        padding: 9px 47px 10px 46px;
      }

      .u-dialog-section-5 .u-icon-1 {
        width: 15px;
        height: 15px;
        left: auto;
        top: 17px;
        position: absolute;
        right: 16px;
      }

      @media (max-width: 991px) {
        .u-dialog-section-5 .u-container-layout-1 {
          padding-top: 30px;
          padding-bottom: 30px;
        }
      }

      @media (max-width: 767px) {
        .u-dialog-section-5 .u-dialog-1 {
          width: 540px;
        }
      }

      @media (max-width: 575px) {
        .u-dialog-section-5 .u-dialog-1 {
          width: 340px;
        }

        .u-dialog-section-5 .u-container-layout-1 {
          padding-left: 20px;
          padding-right: 20px;
        }

        .u-dialog-section-5 .u-text-1 {
          font-size: 2.25rem;
        }
      }
    </style>
  </body>
</html>
