{% extends "authentication/logout.html" %} {% block content %}

<table style="border=1px">
  <tbody>
    <tr>
      <td style="color: purple;border=1px">
        <h4>
          Thank you for trusting Stress and Anxiety Detection System.<br />
          Congratulations on taking the first step towards better mental health!
          By checking your mail, you're taking a proactive approach to your
          well-being and ensuring that you're on track for optimal mental
          health.<br />
          We will send you some important information regarding next steps,
          which may include scheduling a visit to see a psychologist or
          specialist. It's important to take this information seriously and
          follow up promptly, <br />
          as it can help you address any potential mental health concerns and
          maintain good mental health in the long run. <br />
          So, keep an eye on your mailbox and be proud of yourself for
          prioritizing your mental health and taking action towards a healthier
          future!<br />
          All the best for your future endevors.You can Logout now.<br />Thank
          you.
        </h4>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
