@media (min-width: 1200px) {
    .u-block-e7c5-1 {
      background-image: none;
      min-height: 885px;
    }
    .u-block-e7c5-37 {
      min-height: 399px;
      height: auto;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: 0;
    }
    .u-block-e7c5-38 {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .u-block-e7c5-39 {
      font-size: 3.75rem;
      margin-top: 0;
      margin-right: 263px;
      margin-bottom: 0;
      margin-left: 89px;
    }
    .u-block-e7c5-54 {
      background-image: none;
      font-weight: 700;
      margin-top: -15px;
      margin-right: 201px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-e7c5-13 {
      width: 1140px;
      margin-top: -231px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .u-block-e7c5-47 {
      grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
      min-height: 677px;
      grid-gap: 22px;
    }
    .u-block-e7c5-14 {
      background-image: none;
    }
    .u-block-e7c5-15 {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-e7c5-16 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-28 {
      min-height: 58px;
      width: 257px;
      height: auto;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-e7c5-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-51 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-8 {
      background-size: auto;
    }
    .u-block-e7c5-20 {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-e7c5-21 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-30 {
      min-height: 58px;
      width: 257px;
      height: auto;
      background-size: auto;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-e7c5-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-52 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-9 {
      background-size: auto;
    }
    .u-block-e7c5-24 {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-e7c5-25 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-32 {
      min-height: 58px;
      width: 257px;
      height: auto;
      background-size: auto;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-e7c5-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-53 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }@media (max-width: 1199px) and (min-width: 992px) {
    .u-block-e7c5-1 {
      background-image: none;
      min-height: 623px;
    }
    .u-block-e7c5-37 {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 399px;
    }
    .u-block-e7c5-38 {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .u-block-e7c5-39 {
      width: 828px;
      font-size: 3.75rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 152px;
    }
    .u-block-e7c5-54 {
      margin-top: -46px;
      margin-right: 1px;
      margin-bottom: 0;
      margin-left: auto;
      background-image: none;
      font-weight: 700;
    }
    .u-block-e7c5-13 {
      width: 940px;
      height: auto;
      margin-top: -231px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .u-block-e7c5-47 {
      grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-e7c5-14 {
      background-image: none;
    }
    .u-block-e7c5-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-16 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-28 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-51 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-8 {
      background-size: auto;
    }
    .u-block-e7c5-20 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-21 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-30 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      background-size: auto;
      min-height: 58px;
    }
    .u-block-e7c5-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-52 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-9 {
      background-size: auto;
    }
    .u-block-e7c5-24 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-25 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-32 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      background-size: auto;
      min-height: 58px;
    }
    .u-block-e7c5-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-53 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }@media (max-width: 991px) and (min-width: 768px) {
    .u-block-e7c5-1 {
      background-image: none;
      min-height: 1025px;
    }
    .u-block-e7c5-37 {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 399px;
    }
    .u-block-e7c5-38 {
      padding-top: 50px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
    }
    .u-block-e7c5-39 {
      width: 660px;
      font-size: 3.75rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-54 {
      margin-top: -46px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: auto;
      background-image: none;
      font-weight: 700;
    }
    .u-block-e7c5-13 {
      width: 720px;
      height: auto;
      margin-top: -231px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .u-block-e7c5-47 {
      grid-template-columns: repeat(2, calc(50% - 11px));
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-e7c5-14 {
      background-image: none;
    }
    .u-block-e7c5-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-16 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-28 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-51 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-8 {
      background-size: auto;
    }
    .u-block-e7c5-20 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-21 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-30 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      background-size: auto;
      min-height: 58px;
    }
    .u-block-e7c5-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-52 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-9 {
      background-size: auto;
    }
    .u-block-e7c5-24 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-25 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-32 {
      width: 214px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      background-size: auto;
      min-height: 58px;
    }
    .u-block-e7c5-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-e7c5-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-53 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }@media (max-width: 767px) and (min-width: 576px) {
    .u-block-e7c5-1 {
      background-image: none;
      min-height: 1025px;
    }
    .u-block-e7c5-37 {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 399px;
    }
    .u-block-e7c5-38 {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
    }
    .u-block-e7c5-39 {
      width: 520px;
      font-size: 3.75rem;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-54 {
      margin-top: -46px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: auto;
      background-image: none;
      font-weight: 700;
    }
    .u-block-e7c5-13 {
      width: 540px;
      height: auto;
      margin-top: -231px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .u-block-e7c5-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-e7c5-14 {
      background-image: none;
    }
    .u-block-e7c5-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-16 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-28 {
      width: 282px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-51 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-8 {
      background-size: auto;
    }
    .u-block-e7c5-20 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-21 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-30 {
      width: 282px;
      background-size: auto;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-52 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-9 {
      background-size: auto;
    }
    .u-block-e7c5-24 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-25 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-32 {
      width: 282px;
      background-size: auto;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-53 {
      height: auto;
      min-height: 383px;
      width: 365px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }@media (max-width: 575px) {
    .u-block-e7c5-1 {
      background-image: none;
      min-height: 1785px;
    }
    .u-block-e7c5-37 {
      margin-top: 0;
      margin-bottom: 0;
      min-height: 399px;
    }
    .u-block-e7c5-38 {
      padding-top: 30px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 30px;
    }
    .u-block-e7c5-39 {
      width: 320px;
      font-size: 3rem;
      margin-top: 117px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-54 {
      margin-top: -119px;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: auto;
      background-image: none;
      font-weight: 700;
    }
    .u-block-e7c5-13 {
      width: 340px;
      height: auto;
      margin-top: -232px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    .u-block-e7c5-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-e7c5-14 {
      background-image: none;
    }
    .u-block-e7c5-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-16 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-28 {
      width: 239px;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-51 {
      height: auto;
      min-height: 383px;
      width: 340px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-8 {
      background-size: auto;
    }
    .u-block-e7c5-20 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-21 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-30 {
      width: 239px;
      background-size: auto;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-52 {
      height: auto;
      min-height: 383px;
      width: 340px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-9 {
      background-size: auto;
    }
    .u-block-e7c5-24 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-e7c5-25 {
      height: 176px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .u-block-e7c5-32 {
      width: 239px;
      background-size: auto;
      margin-top: -1px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
      min-height: 58px;
    }
    .u-block-e7c5-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-e7c5-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-e7c5-53 {
      height: auto;
      min-height: 383px;
      width: 340px;
      margin-top: 30px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

 @media (min-width: 1200px) {
    .u-block-6045-1 {
      background-image: none;
    }
    .u-block-6045-48 {
      min-height: 732px;
    }
    .u-block-6045-13 {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .u-block-6045-47 {
      grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
      min-height: 676px;
      grid-gap: 22px;
    }
    .u-block-6045-14 {
      background-image: none;
    }
    .u-block-6045-15 {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-6045-16 {
      height: 243px;
      width: 365px;
      margin-top: 20px;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-28 {
      min-height: 59px;
      width: 257px;
      height: auto;
      margin-top: 0;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-49 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-52 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-8 {
      background-size: auto;
    }
    .u-block-6045-20 {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-6045-21 {
      height: 243px;
      width: 365px;
      margin-top: 20px;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-30 {
      min-height: 59px;
      width: 257px;
      height: auto;
      background-size: auto;
      margin-top: 0;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-50 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-53 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-9 {
      background-size: auto;
    }
    .u-block-6045-24 {
      padding-top: 3px;
      padding-bottom: 3px;
      padding-left: 0;
      padding-right: 0;
    }
    .u-block-6045-25 {
      height: 243px;
      width: 365px;
      margin-top: 20px;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-32 {
      min-height: 59px;
      width: 257px;
      height: auto;
      background-size: auto;
      margin-top: 0;
      margin-right: 48px;
      margin-bottom: 0;
      margin-left: auto;
    }
    .u-block-6045-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-51 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-54 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
  }@media (max-width: 1199px) and (min-width: 992px) {
    .u-block-6045-1 {
      background-image: none;
      min-height: 623px;
    }
    .u-block-6045-48 {
      min-height: 732px;
    }
    .u-block-6045-13 {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .u-block-6045-47 {
      grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-6045-14 {
      background-image: none;
    }
    .u-block-6045-15 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-16 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-28 {
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-49 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-52 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-8 {
      background-size: auto;
    }
    .u-block-6045-20 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-21 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-30 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-50 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-53 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-9 {
      background-size: auto;
    }
    .u-block-6045-24 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-25 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-32 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-51 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-54 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
  }@media (max-width: 991px) and (min-width: 768px) {
    .u-block-6045-1 {
      background-image: none;
      min-height: 1025px;
    }
    .u-block-6045-48 {
      min-height: 732px;
    }
    .u-block-6045-13 {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .u-block-6045-47 {
      grid-template-columns: repeat(2, calc(50% - 11px));
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-6045-14 {
      background-image: none;
    }
    .u-block-6045-15 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-16 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-28 {
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-49 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-52 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-8 {
      background-size: auto;
    }
    .u-block-6045-20 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-21 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-30 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-50 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-53 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-9 {
      background-size: auto;
    }
    .u-block-6045-24 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-25 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-32 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-6045-51 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-54 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
  }@media (max-width: 767px) and (min-width: 576px) {
    .u-block-6045-1 {
      background-image: none;
      min-height: 1025px;
    }
    .u-block-6045-48 {
      min-height: 732px;
    }
    .u-block-6045-13 {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .u-block-6045-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-6045-14 {
      background-image: none;
    }
    .u-block-6045-15 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-16 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-28 {
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-49 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-52 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-8 {
      background-size: auto;
    }
    .u-block-6045-20 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-21 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-30 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-50 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-53 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-9 {
      background-size: auto;
    }
    .u-block-6045-24 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-25 {
      height: 243px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 365px;
      margin-right: 48px;
      margin-left: auto;
    }
    .u-block-6045-32 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 48px;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-51 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-54 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
  }@media (max-width: 575px) {
    .u-block-6045-1 {
      background-image: none;
      min-height: 1785px;
    }
    .u-block-6045-48 {
      min-height: 732px;
    }
    .u-block-6045-13 {
      margin-top: 28px;
      margin-bottom: 28px;
    }
    .u-block-6045-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 521px;
      grid-gap: 22px;
    }
    .u-block-6045-14 {
      background-image: none;
    }
    .u-block-6045-15 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-16 {
      height: 226px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 340px;
      margin-right: 0;
      margin-left: auto;
    }
    .u-block-6045-28 {
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-49 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-52 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-8 {
      background-size: auto;
    }
    .u-block-6045-20 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-21 {
      height: 226px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 340px;
      margin-right: 0;
      margin-left: auto;
    }
    .u-block-6045-30 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-31 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-50 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-53 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
    .u-block-6045-9 {
      background-size: auto;
    }
    .u-block-6045-24 {
      padding-top: 3px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 3px;
    }
    .u-block-6045-25 {
      height: 226px;
      margin-top: 20px;
      margin-bottom: 0;
      width: 340px;
      margin-right: 0;
      margin-left: auto;
    }
    .u-block-6045-32 {
      background-size: auto;
      width: 257px;
      margin-top: 0;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
      min-height: 59px;
    }
    .u-block-6045-33 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-6045-51 {
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-6045-54 {
      margin-top: 30px;
      margin-bottom: 0;
      height: auto;
      min-height: 382px;
    }
  }

  @media (min-width: 1200px) {
    .u-block-ef42-1 {
      background-image: none;
    }
    .u-block-ef42-51 {
      min-height: 897px;
    }
    .u-block-ef42-13 {
      width: 366px;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 684px;
      grid-gap: 22px;
    }
    .u-block-ef42-14 {
      background-image: none;
    }
    .u-block-ef42-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-ef42-16 {
      height: 217px;
      width: 365px;
      margin-top: 26px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-28 {
      min-height: 59px;
      width: 257px;
      height: auto;
      margin-top: -31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-ef42-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-ef42-52 {
      margin-top: 30px;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      min-height: 382px;
    }
    .u-block-ef42-53 {
      font-weight: 700;
      background-image: none;
      margin-top: 30px;
      margin-right: 485px;
      margin-bottom: 43px;
      margin-left: auto;
      padding-top: 19px;
      padding-right: 42px;
      padding-bottom: 19px;
      padding-left: 42px;
    }
  }@media (max-width: 1199px) and (min-width: 992px) {
    .u-block-ef42-1 {
      background-image: none;
      min-height: 809px;
    }
    .u-block-ef42-51 {
      min-height: 897px;
    }
    .u-block-ef42-13 {
      width: 366px;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-47 {
      grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
      min-height: 684px;
      grid-gap: 22px;
    }
    .u-block-ef42-14 {
      background-image: none;
    }
    .u-block-ef42-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-ef42-16 {
      height: 217px;
      margin-top: 26px;
      margin-bottom: 0;
      width: 365px;
      margin-right: auto;
      margin-left: auto;
    }
    .u-block-ef42-28 {
      min-height: 59px;
      width: 257px;
      margin-top: -31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-ef42-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-ef42-52 {
      margin-top: 30px;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      min-height: 382px;
    }
    .u-block-ef42-53 {
      margin-top: 30px;
      margin-left: auto;
      margin-right: 285px;
      margin-bottom: 43px;
      background-image: none;
      font-weight: 700;
      padding-top: 19px;
      padding-right: 42px;
      padding-bottom: 19px;
      padding-left: 42px;
    }
  }@media (max-width: 991px) and (min-width: 768px) {
    .u-block-ef42-1 {
      background-image: none;
      min-height: 809px;
    }
    .u-block-ef42-51 {
      min-height: 897px;
    }
    .u-block-ef42-13 {
      width: 366px;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-47 {
      grid-template-columns: repeat(2, calc(50% - 11px));
      min-height: 684px;
      grid-gap: 22px;
    }
    .u-block-ef42-14 {
      background-image: none;
    }
    .u-block-ef42-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-ef42-16 {
      height: 217px;
      margin-top: 26px;
      margin-bottom: 0;
      width: 365px;
      margin-right: auto;
      margin-left: auto;
    }
    .u-block-ef42-28 {
      min-height: 59px;
      width: 257px;
      margin-top: -31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .u-block-ef42-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-ef42-52 {
      margin-top: 30px;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      min-height: 382px;
    }
    .u-block-ef42-53 {
      margin-top: 30px;
      margin-left: auto;
      margin-right: 65px;
      margin-bottom: 43px;
      background-image: none;
      font-weight: 700;
      padding-top: 19px;
      padding-right: 42px;
      padding-bottom: 19px;
      padding-left: 42px;
    }
  }@media (max-width: 767px) and (min-width: 576px) {
    .u-block-ef42-1 {
      background-image: none;
      min-height: 809px;
    }
    .u-block-ef42-51 {
      min-height: 897px;
    }
    .u-block-ef42-13 {
      width: 366px;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 684px;
      grid-gap: 22px;
    }
    .u-block-ef42-14 {
      background-image: none;
    }
    .u-block-ef42-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-ef42-16 {
      height: 217px;
      margin-top: 26px;
      margin-bottom: 0;
      width: 365px;
      margin-right: auto;
      margin-left: auto;
    }
    .u-block-ef42-28 {
      min-height: 59px;
      width: 257px;
      margin-top: -31px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-ef42-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-ef42-52 {
      margin-top: 30px;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      min-height: 382px;
    }
    .u-block-ef42-53 {
      margin-top: 30px;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 43px;
      background-image: none;
      font-weight: 700;
      padding-top: 19px;
      padding-right: 42px;
      padding-bottom: 19px;
      padding-left: 42px;
    }
  }@media (max-width: 575px) {
    .u-block-ef42-1 {
      background-image: none;
      min-height: 809px;
    }
    .u-block-ef42-51 {
      min-height: 897px;
    }
    .u-block-ef42-13 {
      width: 340px;
      margin-top: 77px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-47 {
      grid-template-columns: repeat(1, 100%);
      min-height: 684px;
      grid-gap: 22px;
    }
    .u-block-ef42-14 {
      background-image: none;
    }
    .u-block-ef42-15 {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
    .u-block-ef42-16 {
      height: 202px;
      margin-top: 26px;
      margin-bottom: 0;
      width: 340px;
      margin-right: auto;
      margin-left: auto;
    }
    .u-block-ef42-28 {
      min-height: 59px;
      width: 257px;
      margin-top: -16px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0;
    }
    .u-block-ef42-29 {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-block-ef42-48 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
    .u-block-ef42-52 {
      margin-top: 30px;
      margin-bottom: 0;
      width: 100%;
      height: auto;
      min-height: 382px;
    }
    .u-block-ef42-53 {
      margin-top: 30px;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 43px;
      background-image: none;
      font-weight: 700;
      padding-top: 19px;
      padding-right: 42px;
      padding-bottom: 19px;
      padding-left: 42px;
    }
  }