.u-block-5fe8-56:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-56:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-56:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-3-dark-3) !important
}
.u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]), .u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]):before, .u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
}
.u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-3-dark-3) !important
}
.u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]), .u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]):before, .u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
}
.u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-3-dark-3) !important
}
.u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]), .u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]):before, .u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position
}
.u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]).u-block-5fe8-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: var(--palette-3-dark-3) !important
}
@media (min-width: 1200px) {
  .u-block-5fe8-52 {
    background-image: none;
    min-height: 1059px;
  }
  .u-block-5fe8-53 {
    min-height: 331px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: none;
    height: auto;
  }
  .u-block-5fe8-54 {
    padding-top: 105px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .u-block-5fe8-55 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-5fe8-8 {
    width: 1140px;
    margin-top: -96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .u-block-5fe8-41 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 764px;
    grid-gap: 20px;
  }
  .u-block-5fe8-10 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-20 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-43 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-24 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-33 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-12 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-21 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-44 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-25 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-34 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-14 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-22 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-45 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-26 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-35 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-47 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-48 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-49 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-50 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-51 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-57 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-58 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-59 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-60 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-61 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-63 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-64 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-65 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-66 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-67 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-69 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-70 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-71 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-72 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-73 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-75 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-76 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-77 {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-78 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-79 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-5fe8-52 {
    background-image: none;
    min-height: 1048px;
  }
  .u-block-5fe8-53 {
    background-image: none;
    min-height: 331px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-54 {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .u-block-5fe8-55 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-5fe8-8 {
    width: 940px;
    margin-top: -96px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 49px;
  }
  .u-block-5fe8-41 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 626px;
    grid-gap: 20px;
  }
  .u-block-5fe8-10 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-20 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-43 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-24 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-33 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-12 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-21 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-44 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-25 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-34 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-14 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-22 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-45 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-26 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-35 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-47 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-48 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-49 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-50 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-51 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-57 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-58 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-59 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-60 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-61 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-63 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-64 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-65 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-66 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-67 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-69 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-70 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-71 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-72 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-73 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-75 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-76 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-77 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-78 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-79 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}@media (max-width: 991px) and (min-width: 768px) {
  .u-block-5fe8-52 {
    background-image: none;
    min-height: 1741px;
  }
  .u-block-5fe8-53 {
    background-image: none;
    min-height: 363px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-54 {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .u-block-5fe8-55 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-5fe8-8 {
    width: 720px;
    margin-top: -128px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .u-block-5fe8-41 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1446px;
    grid-gap: 20px;
  }
  .u-block-5fe8-10 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-20 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-43 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-24 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-33 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-12 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-21 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-44 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-25 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-34 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-14 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-22 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-45 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-26 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-35 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-47 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-48 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-49 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-50 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-51 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-57 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-58 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-59 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-60 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-61 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-63 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-64 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-65 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-66 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-67 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-69 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-70 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-71 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-72 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-73 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-75 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .u-block-5fe8-76 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-77 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-78 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-79 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}@media (max-width: 767px) and (min-width: 576px) {
  .u-block-5fe8-52 {
    background-image: none;
    min-height: 1715px;
  }
  .u-block-5fe8-53 {
    background-image: none;
    min-height: 395px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-54 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  .u-block-5fe8-55 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-5fe8-8 {
    width: 540px;
    margin-top: -186px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
  }
  .u-block-5fe8-41 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1446px;
    grid-gap: 20px;
  }
  .u-block-5fe8-10 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-20 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-43 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-24 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-33 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-12 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-21 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-44 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-25 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-34 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-14 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-22 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-45 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-26 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-35 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-47 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-48 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-49 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-50 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-51 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-57 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-58 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-59 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-60 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-61 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-63 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-64 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-65 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-66 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-67 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-69 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-70 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-71 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-72 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-73 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-75 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-76 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-77 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-78 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-79 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}@media (max-width: 575px) {
  .u-block-5fe8-52 {
    background-image: none;
    min-height: 2886px;
  }
  .u-block-5fe8-53 {
    background-image: none;
    min-height: 395px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-54 {
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  .u-block-5fe8-55 {
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .u-block-5fe8-8 {
    width: 340px;
    margin-top: -230px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 42px;
  }
  .u-block-5fe8-41 {
    grid-template-columns: 100%;
    min-height: 2661px;
    grid-gap: 20px;
  }
  .u-block-5fe8-10 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-20 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-43 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-24 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-33 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-12 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-21 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-44 {
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-25 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-34 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-14 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-22 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-45 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-26 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-35 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-47 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-48 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-49 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-50 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-51 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-57 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-58 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-59 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-60 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-61 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-63 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-64 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-65 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-66 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-67 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-69 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-70 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-71 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-72 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-73 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-75 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .u-block-5fe8-76 {
    height: 56px;
    width: 56px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .u-block-5fe8-77 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .u-block-5fe8-78 {
    margin-top: 36px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
  }
  .u-block-5fe8-79 {
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-style: solid;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .u-block-b2c3-2 {
    min-height: 400px;
  }
}@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-b2c3-2 {
    min-height: 400px;
  }
}@media (max-width: 991px) and (min-width: 768px) {
  .u-block-b2c3-2 {
    min-height: 400px;
  }
}@media (max-width: 767px) and (min-width: 576px) {
  .u-block-b2c3-2 {
    min-height: 400px;
  }
}@media (max-width: 575px) {
  .u-block-b2c3-2 {
    min-height: 400px;
  }
}