.u-section-1 .u-sheet-1 {
  min-height: 187px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  font-size: 1.125rem;
  margin: 94px auto 40px;
} .u-section-2 {
  background-image: linear-gradient(to right, #68a1d6, #ee5dbc);
}

.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-text-1 {
  width: 782px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 10px));
  min-height: 662px;
  grid-gap: 15px;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 10px 0 117px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 215px;
  margin: 30px 20px -22px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 10px 0 117px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 215px;
  margin: 30px 20px -22px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 10px 0 117px;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 215px;
  margin: 30px 20px -22px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 4px 0;
}

.u-section-2 .u-text-8 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 10px 0 117px;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 215px;
  margin: 30px 20px -22px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 4px 0;
}

.u-section-2 .u-text-10 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0 10px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -48px 10px 0 117px;
}

.u-section-2 .u-custom-html-5 {
  height: auto;
  min-height: 215px;
  margin: 30px 20px -22px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    min-height: 545px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 350px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 350px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-6 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 350px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-8 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 350px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-10 {
    font-size: 3rem;
    margin-left: 1px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -41px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 350px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 7.5px));
    min-height: 954px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 85px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-custom-html-2 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-custom-html-3 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-custom-html-4 {
    width: 320px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 0;
  }

  .u-section-2 .u-custom-html-5 {
    width: 320px;
  }
}